<div class="example-container">
    <h1>Liste des demandes</h1>
    <form [formGroup]="categorieForm">
        <mat-form-field>
            <mat-label>Catégorie</mat-label>
            <mat-select formControlName="categorie" required>
                <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button
                type="button"(click)="onClick()">Reset filtre</button>
    </form>
    <mat-paginator *ngIf="carditemsFiltred.length==0 && pageSlice.length>0" [length]="this.carditems.length"
                    [pageSize]="4"
                    (page)="OnPageChange($event,0)">
    </mat-paginator>
    <mat-paginator *ngIf="carditemsFiltred.length>=1" [length]="this.carditemsFiltred.length"
        [pageSize]="4"
        (page)="OnPageChange($event,1)">
    </mat-paginator>
    <div class="container-card"*ngIf="carditemsFiltred.length>=1">
            <mat-card class="example-card" *ngFor="let carditemsFiltred of pageSlice">
                <mat-card-header>
                    <mat-card-title>{{ carditemsFiltred.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ carditemsFiltred.description }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <a (click)="singleRequest(carditemsFiltred.id)">
                            VOIR
                            </a>
                    </button>    
                </mat-card-actions>
            </mat-card>
    </div>
    <div class="container-card"*ngIf="carditemsFiltred.length==0 && pageSlice.length>0">
        <mat-card class="example-card" *ngFor="let carditem of pageSlice">
            <mat-card-header>
                <mat-card-title>{{ carditem.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ carditem.description }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <a (click)="singleRequest(carditem.id)">
                        VOIR
                        </a>
                </button>    
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="container-card"*ngIf="carditemsFiltred.length==0 && pageSlice.length==0">
        <mat-card class="example-card" >
            <mat-card-header>
                <mat-card-title>Pas de demande de service trouvé</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                   Désolé, nous n'avons pas de demande pour cette catégorie de service
                </p>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button>
                    <a (click)="singleRequest(carditem.id)">
                        VOIR
                        </a>
                </button>     -->
            </mat-card-actions>
        </mat-card>
    </div>
</div> 