.example-contenair {
    margin: auto;
    margin-top: 2%;
    display: block;
    width: 60em;
    height: calc(100% - 160px);
    overflow: auto;
    .contenair-singleoffer {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .contenair-info {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        min-height: 500px;
        border: solid 1px black;
        p, h2 {
            padding-left: 5px;
        }
        h2 {
            font-size: 16px;
        }
        .mat-form-field {
            width: 90%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 5px;
            padding-right: 5px;
        }
        .mat-raised-button {
            background-color: #d63436;
            color: #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
}