<div class="example-contenair">
    <h1> Request : </h1>
    <div class="contenair-singleoffer">
        <div class="contenair-info">
            <form [formGroup]="UpdateRequestForm" (ngSubmit)="onSubmit()">
                <br>
                <fieldset>
                    <legend>Info Service</legend>
                    <mat-form-field class="example-full-width">
                        <mat-label>Titre</mat-label>
                        <input type="text"
                                id="title"
                                matInput 
                                placeholder="Votre titre"
                                class="form-control"
                                formControlName="title"
                                ngModel maxlength="50"
                                required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description..."
                                    formControlName="description"
                                    ngModel maxlength="250"
                                    required></textarea>
                    </mat-form-field>
                    <br>
                    <div class="space-around-1">
                        <mat-form-field appearance="fill">
                            <mat-label>Catégorie</mat-label>
                            <mat-select formControlName="categorie"  required>
                                <mat-option *ngFor="let cat of categories"  [value]="cat.id">{{cat.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Date de besoin</mat-label>
                            <input matInput [matDatepicker]="picker"
                                    onkeydown="return false"
                                    formControlName="dateBesoin"
                                    required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Localité</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                            </mat-select> -->
                            <input type="text" placeholder="Search your city ..."
                            matInput 
                            formControlName="localite" 
                            [matAutocomplete]="auto">  
              
                        <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let city of cities" [value]="city.name">
                            {{ city.name }}
                          </mat-option>
                        </mat-autocomplete>
                            
                        </mat-form-field>
                    </div>
                </fieldset>
                <button mat-raised-button
                            type="submit"
                            [disabled]="UpdateRequestForm.invalid">Valider</button>
            </form>
        </div> 
        <div class="contenair-info">
            
        </div>   
    </div>
</div>