.example-container {
    margin: auto;
    margin-top: 2%;
    display: block;
    width: 100%;
    height: calc(100% - 160px);
    overflow: auto;
    h1 {
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 20px;
        color: #d63436;
    }
    .container-profile {
        border: 1px solid black;
        padding: 20px;
        width: 50%;
        margin: auto;
        margin-bottom: 50px;
        .container-offers {
            border: 1px solid black;
            margin-bottom: 20px;
            padding: 20px;
            min-height: 150px;
        }
        .container-requests {
            border: 1px solid black;
            padding: 20px;
            min-height: 150px;
        }

        .container-offer {
            display: flex;
            height: 40px;
            .container-title:nth-child(1) {
                flex: 8;
                p {
                    border-bottom: 1px solid black;
                }
            }
            .container-icons:nth-child(2) {
                flex: 1;
                margin-left: 5px;
                .mat-icon {
                    font-size: 20px;
                    margin-right: 5px;
                    color: #d63436;
                }
            }
        }
    }
}