<div class="example-container">
    <h1>Profile</h1>
        <div class="container-profile">
            <div class="container-offers">
                <h2>Mes offres</h2>
                <div *ngIf="offers">
                    <div *ngFor="let off of offers" class="container-offer">
                        <div class="container-title">
                            <p>{{off.title}}</p>
                        </div>
                        <div class="container-icons">
                            <mat-icon (click)="singleOffer(off.id)">visibility</mat-icon>
                            <mat-icon (click)='deleteoffers(off.id)'>delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-requests">
                <h2>Mes demandes</h2>
                <div *ngIf="request">
                    <div *ngFor="let req of request" class="container-offer">
                        <div class="container-title">
                            <p>{{req.title}}</p>
                        </div>
                        <div class="container-icons">
                            <mat-icon (click)="singleRequest(req.id)">visibility</mat-icon>
                            <mat-icon (click)='deleterequest(req.id)'>delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>