<div class="example-container">
    <h1>Inscription</h1>
        <div class="container-form">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text"
                            id="email"
                            matInput 
                            placeholder="test@Outlook.com"
                            class="form-control"
                            formControlName="email"
                            required>
                    <!-- <div *ngIf="registerForm.controls['email'].errors.required">
                         Please 
                    </div>             -->
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password"
                            id ="password"
                            matInput
                            [type]="hide ? 'password' : 'text'"
                            class="form-control"
                            formControlName="password"
                            required>
                    <button mat-icon-button
                            matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password"
                            id ="confirmPassword"
                            matInput
                            [type]="hide ? 'password' : 'text'"
                            class="form-control"
                            formControlName="confirmPassword"
                            required>
                    <button mat-icon-button
                            matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide confirmPassword'"
                            [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                   
                </mat-form-field>
                <br>
                <button mat-raised-button
                type="submit"
                [disabled]="registerForm.invalid">Valider</button>
            </form>
            <p class="text-danger">{{ errorMessage }}</p>
            <p><a href="">J'ai déjà un compte</a></p>
        </div>
</div>