.example-container {
    margin: auto;
    margin-top: 2%;
    display: block;
    width: 30em;
    height: calc(100% - 160px);
    overflow: auto;
    .container-form {
        border: 1px solid black;
        padding: 10px;
    }
    .mat-form-field {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 20em;
    }
    p {
        text-align: center;
        a {
            color: #d63436;
        }
    }
    h1 {
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 20px;
        color: #d63436;
    }
}

.mat-raised-button {
    background-color: #d63436;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}