<div class="example-container">
    <h1>Connexion</h1>
    <div class="container-form">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text"
                        id="email"
                        matInput 
                        placeholder="Do.kevin@Outlook.com"
                        class="form-control"
                        formControlName="email"
                        required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input type="password"
                        id ="password"
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        class="form-control"
                        formControlName="password"
                        required>
                <button mat-icon-button
                        matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button mat-raised-button
            type="submit"
            [disabled]="signinForm.invalid">Valider</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
        <p><a href="">Mot de passe oublié ?</a>
        <br>
        Pas encore de compte ? <a href="http://localhost:4200/registration">Inscris-toi !</a></p>
    </div>
</div>