.example-container {
    margin: auto;
    margin-top: 2%;
    width: 100%;
    height: calc(100% - 160px);
    overflow: auto;
    h1 {
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 20px;
        color: #d63436;
    }
    .mat-form-field {
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .mat-raised-button {
        background-color: #d63436;
        color: #ffffff;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a, a:hover {
        text-decoration: none;
        color: black;
    }
    .container-card {
        margin-top: 30px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        .example-card {
            justify-content: space-around;
            width: 600px;
            max-height: 175px;
            margin: auto;
            margin-bottom: 50px;
            .mat-card-content {
                text-overflow: ellipsis;
            }
        }
    }
}