<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLinkActive="active">
        <mat-icon>chevron_right</mat-icon>
        <a routerLink="offers">Offres</a>
      </button>
      <button mat-menu-item routerLinkActive="active">
        <mat-icon>chevron_right</mat-icon>
        <a routerLink="requests">Demandes</a>
      </button>
      <button mat-menu-item routerLinkActive="active" *ngIf="currentUser">
        <mat-icon>chevron_right</mat-icon>
        <a routerLink="addService">Ajouter un service</a>
      </button>
    </mat-menu>
    <button mat-flat-button color="primary" routerLinkActive="active">
      <a routerLink="home">Accueil</a>
    </button>
    <button mat-flat-button color="primary" routerLinkActive="active" *ngIf="!currentUser">
      <a routerLink="login">Connexion</a>
    </button>
    <button mat-flat-button color="primary" routerLinkActive="active" *ngIf="!currentUser">
      <a routerLink="registration">Inscription</a>
    </button>
    <button mat-flat-button color="primary" routerLinkActive="active" *ngIf="currentUser">
      <a (click)="profileUser(currentUser.id)">Mon profil</a>
    </button>
    <button mat-flat-button color="primary">
      <a (click)="onSignOut()"
           *ngIf="currentUser">Déconnexion</a>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar>