.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #d63436;
  .exemple-form {
    padding-left: 55em;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

a {
  color: #d63436;
  text-decoration: none;
}

.mat-flat-button {
  background-color: #d63436;
}