.alert {
        padding: 20px;
        background-color: #f44336; /* Red */
        color: white;
        font-size: 2em;
}    
.alert.succes {
    background-color: lightgreen; /* green */;
}