.contenair {
    margin: auto;
    width: 100%;
    height: calc(100% - 128px);
    overflow-x: hidden;
    .contenair-picture {
        z-index: -10;
        position: relative;
        display: inline-block;
        
        max-height:100%;
        width:auto
    }
    .contenair-title {
        position: absolute;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        margin-top: 2%;
        padding-top: 15px;
        padding-bottom: 15px;
        h1 {
            color: #d63436;
            font-size: 3.2em;
        }
        h2 {
            color: #ffffff;
            font-size: 2em;
            font-style: italic;
        }
    }
}