<div class="contenair">
    <div class="contenair-title">
        <h1>Seof</h1>
        <h2>Site d'entraide entre voisin !</h2>
    </div>
    <div class="contenair-picture">
        <img src="../../assets/images/picturehome.jpg" >
    </div>
</div>