<div class="example-contenair">
  <div class="contenair-singleoffer">
    <div class="contenair-info">
      <div *ngIf="!offers">
        en chargement des données
      </div>
      <div *ngIf="offers">
        <h1 >
          {{offers.title}}
        </h1>
        <h2>
          Description :
        </h2>
        <p>
          {{offers.description}}
        </p>
        <h2>
          Localité :
        </h2>
        <p>
          {{offers.City.name}}
        </p>
        <h2>
          Catégorie :
        </h2>
        <p>
          {{offers.Type.name}}
        </p>
        <h2>
          Date de mise en ligne :
        </h2>
        <p>
          {{offers.offer_date}}
        </p>
      </div>
    </div>
    <div class="contenair-info">
      <h1>Contact</h1>
      <form [formGroup]="FormContact"(ngSubmit)="onSubmit(offers.User.mail,offers.title,offers.offer_date)">
       <mat-form-field class="example-full-width">
          <mat-label>Votre message</mat-label>
          <textarea matInput placeholder="Bonjour votre annonce m'intéresse..."
                      formControlName="message"
                      ngModel maxlength="250"
                      required></textarea>
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              [disabled]="FormContact.invalid">Envoyer</button>
      </form>
    </div>
  </div>
</div>