.example-container {
    margin: auto;
    margin-top: 2%;
    display: block;
    width: 60em;
    height: calc(100% - 160px);
    overflow: auto;
    h1 {
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 20px;
        color: #d63436;
    }
    .container-form {
        border: 1px solid black;
        padding: 10px;
        .example-full-width {
            width: 100%;
        }
        fieldset {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .space-around-1 {
            display: flex;
            justify-content: space-around;
        }
        .mat-raised-button {
            background-color: #d63436;
            color: #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}